#search-div {
    text-align: center;
    margin: auto;
}

#random-btn-body {
    text-align: center;
    margin: auto;
}

#map {
    height: 100%;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.sample {
    width: 100px;
    height: 50px;
  }
img {
    height: 350px;
    width: auto;
}